.card {
    text-align: center;
    border: 3px solid black;
    border-radius: 15px;
    background-color: #e2dede;
    padding: 50px;
    min-width: 300px;
}

.infos {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.title {
    font-weight: 600;
}

.specifications {
    padding: 20px;
}