* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    height: 100%;
    background-color: #180E2E;
    background-image: url(images/background-gradient.jpeg);
    background-size: cover;
    background-position: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.option {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.nav {
    flex: 1;
    text-align: center;
    width: 100%;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    max-width: 50%;
    padding: 10px;
    color: #000;
    background-color: rgb(152, 155, 158);
    font-weight: 500;
}

.nav:hover {
    background-color: rgb(130, 133, 136);
}

#sign_in_nav {
    border-left: 0;
    border-radius: 13px 0 0 0;
}

#register_nav {
    border-radius: 0 13px 0 0;
}

.form-block {
    text-align: center;
    border: 3px solid black;
    border-radius: 15px;
    background-color: #e2dede;
    min-width: 250px;
}

form {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    padding: 0 50px 50px;
}

h3 {
    margin-bottom: 25px;
    font-size: 1.6em;
    font-weight: 300;
}

input {
    padding: 8px;
    border-radius: 5px;
    margin: 15px 0;
}

button {
    border: 0;
    background-color: #46112F;
    color: #fff;
    padding: 15px;
    border-radius: 0 0 0 10px;
    margin-top: 15px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
}
